---
import Square from "../icons/square.astro";
import Layout from "../layouts/Layout.astro";

import { modeloTerapeutico } from "../data.json";
const { text1, text2, text3, text4, text5, text6, text7, enfoqueTerapeutico } =
  modeloTerapeutico;
---

<Layout title="Modelo terapéutico">
  <div class="text-center m-6 md:my-12">
    <span class="italic text-blueMedium text-3xl">
      {text1}
    </span>
  </div>
  <div class="md:w-3/4 m-auto p-6 md:p-0">
    <span>
      {enfoqueTerapeutico.title}
    </span>

    <ul class="max-w-md space-y-1 list-disc list-inside mt-6">
      {
        enfoqueTerapeutico.patrones.map((pattern) => (
          <li class="flex">
            <Square width="15" />
            {pattern}
          </li>
        ))
      }
    </ul>
  </div>
  <div
    class="my-24 px-6 py-20 md:p-24 text-center bg-blueMedium text-3xl leading-normal"
  >
    {text2}
  </div>
  <div class="md:w-3/4 my-12 mx-auto p-6 md:p-0 text-lg">
    {text3}
  </div>
  <div class="md:w-3/4 my-12 mx-auto p-6 md:p-0 text-lg">
    {text4}
  </div>
  <div
    class="my-24 px-6 py-20 md:p-24 text-center bg-blueMedium text-3xl leading-normal"
  >
    {text5}
  </div>
  <div class="md:w-3/4 my-12 mx-auto p-6 md:p-0 text-lg">
    {text6}
  </div>
  <div class="md:w-3/4 my-12 mx-auto p-6 md:p-0 text-lg">
    {text7}
  </div>
</Layout>
