---
import Layout from "../layouts/Layout.astro";
import Square from "../icons/square.astro";
import Link from "../icons/link.astro";

import { quienSoy } from "../data.json";
const {
  title,
  subtitle,
  text1,
  text2,
  text3,
  text4,
  formacion,
  congresos,
  investigacion,
  publicaciones,
  reconocimiento,
  prensa,
  curiosidades,
} = quienSoy;
---

<Layout title="Quien soy">
  <div class="flex flex-col items-center md:flex-row p-5 md:w-3/4 m-auto">
    <div class="h-full md:w-1/2">
      <img src="/img/portada2.png" alt="" class="w-full h-auto" />
    </div>
    <div
      class="w-full md:w-1/2 md:mx-12 mt-6 md:mt-0 flex flex-col justify-center"
    >
      <span class="font-bold text-brownMedium">{title}</span>
      <span class="font-bold">{subtitle}</span>

      <br />
      <p class="text-justify text-gray-500">
        {text1}
        <br />
        {text2}
        <br />
        {text3}
        <br />
        {text4}
      </p>
    </div>
  </div>
  <div class="md:grid md:grid-cols-2 p-6 md:w-3/4 m-auto">
    <div>
      <h2 class="mb-2 text-lg font-semibold text-blueMedium">
        {formacion.title}
      </h2>
      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
        {
          formacion.lista.map((formation) => (
            <li class="flex">
              <Square width="15" />
              {formation}
            </li>
          ))
        }
      </ul>

      <br /><br />

      <h2 class="mb-2 text-lg font-semibold text-blueMedium">
        {congresos.title}
      </h2>
      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
        {congresos.lista.map((congress) => <li class="flex">{congress}</li>)}
      </ul>
    </div>
    <div>
      <h2 class="mb-2 text-lg font-semibold text-blueMedium">
        {investigacion.title}
      </h2>
      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
        {
          investigacion.lista.map((investigation) => (
            <li class="flex">{investigation}</li>
          ))
        }
      </ul>

      <br /><br />

      <h2 class="mb-2 text-lg font-semibold text-blueMedium">
        {publicaciones.title}
      </h2>
      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
        {
          publicaciones.lista.map((publication) => (
            <li class="flex">{publication}</li>
          ))
        }
      </ul>

      <br /><br />

      <h2 class="mb-2 text-lg font-semibold text-blueMedium">
        {reconocimiento.title}
      </h2>
      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
        {
          reconocimiento.lista.map((recognition) => (
            <li class="flex">{recognition}</li>
          ))
        }
      </ul>

      <br /><br />

      <h2 class="mb-2 text-lg font-semibold text-blueMedium">{prensa.title}</h2>
      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
        <li class="flex flex-col">
          {prensa.text1}
          <a href={prensa.link} target="_blank" class="flex">
            <Link width="15" />
            <span class="ml-1 hover:text-blueMedium">{prensa.text2}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="px-6 py-20 my-24 md:p-24 text-center bg-blueMedium [&>span]:text-lg"
  >
    <h2 class="mb-6 text-3xl font-dancing">{curiosidades.title}</h2>
    <span> {curiosidades.text1} </span>
    <br />
    <span> {curiosidades.text2} </span>
    <br />
    <span> {curiosidades.text3} </span>
    <br />
    <span> {curiosidades.text4} </span>
  </div>
</Layout>
