---
import { whoIAm } from "../data.json";
const { title, text1, text2, text3, text4 } = whoIAm;
---

<div class="p-8 [&>p]:text-lg">
  <h2 class="font-bold text-2xl">
    <span class="text-5xl">❝</span>&nbsp;&nbsp;{title}
  </h2>
  <br />
  <p>
    {text1}
  </p>
  <br />
  <p>
    {text2}
  </p>
  <br />
  <p>
    {text3}
  </p>
  <br />
  <p>
    {text4}&nbsp;&nbsp;<span class="text-5xl">❞</span>
  </p>
</div>
